.dropdown-menu-category
  display: grid
  grid-template-columns: 32px 1fr
  align-items: center
  gap: 15px
  font-size: 1rem
  margin-bottom: 15px
  padding: 8px
  cursor: pointer

  &_active
    background: #f5f5f5

  &:hover
    background: #f5f5f5

  &:last-child
    margin-bottom: 0

  &_header
    display: none
    font-weight: 700
    font-size: 1.05em

    +xs-block
      display: block

  +xs-block
    grid-template-columns: 1fr
    border-bottom: $border

    &:last-child
      border-bottom: none

.dropdown-menu-category__img
  border-radius: 50%

  +xs-block
    display: none
