@import @/styles/components/list
@import @/styles/components/address

.footer__lists
  display: grid
  grid-template-columns: repeat(3, 1fr)
  gap: 15px
  padding-bottom: 15px

  +sm-block
    grid-template-columns: repeat(2, 1fr)

  +xs-block
    grid-template-columns: 1fr

.footer__hr
  display: block
  background-color: $border-color
  border: none
  height: 1px
  margin-bottom: 40px

.footer__address
  margin-bottom: 30px

.footer__socials
  max-width: 249px

