.input
  position: relative
  font-size: 1.125rem

.input__icon
  position: absolute
  left: 10px
  top: 50%
  transform: translateY(-50%)

.input__elem
  width: 100%
  font-size: inherit
  font-family: inherit
  border: $border
  border-radius: $border-radius
  outline: none
  padding: 8.9px 10px 8.9px 40px
